@use "../../styles/variables" as vars;

.patientprofile-container {
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.patientprofile-lines-container {
  margin: 20px 20px;
  width: 550px;
}

#patientprofile-flex-central {
  display: flex;
  flex-direction: column;
}

.patientprofile-line {
  border: 1px solid white;
  padding: 5px 0;
  font-size: 20px;

  label,
  .patientprofile-line-label {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  input {
    width: 300px;
    padding: 8px 0 8px 20px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    outline: none;
    &:focus {
      background-color: lightseagreen;
    }
  }

  .patientprofile-line-data {
    width: 300px;
    padding: 10px 0 10px 20px;
    border: none;
    background-color: vars.$background2-color;
    color: vars.$primary-color;
    font-size: 16px;
  }

  select {
    padding: 8px 0;
    width: 320px;
    padding-left: 20px;
    background-color: lightgrey;
    border: none;
    color: black;
    font-size: 16px;
  }
}

.patientprofile-buttons-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.patientprofile-button {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.33s ease;
  cursor: pointer;
}

.patientprofile-button-large {
  background-color: vars.$tertiary-color;
  &:hover {
    background-color: vars.$background2-color;
    color: vars.$primary-color;
  }
}

.patientprofile-button-validation {
  width: 120px;
  background-color: vars.$tertiary-color;
  &:hover {
    background-color: darkgreen;
  }
}
.patientprofile-button-cancel {
  width: 120px;
  background-color: vars.$tertiary-color;
  &:hover {
    background-color: darkred;
  }
}

.patientprofile-upper-flex {
  display: flex;

}

.patientprofile-button-return {
  width: 150px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  background-color: vars.$tertiary-color;
  &:hover {
    background-color: vars.$background2-color;
    color: vars.$primary-color;
  }
}

///////////////////////////////////////////////
/// Status prévoyance
/// //////////////////////
///

.patientprofile-status-container {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  margin: 20px;
  background-color: vars.$tertiary-color;
  // height: 50px;
  width: 800px;
}

///////////////////////////////////////////////
/// NOTES*
/// //////////////////////
///

#patientprofile-flex-central-container {
  display: flex;
  justify-content: center;
}

.patientprofile-notes-container {
  width: 600px;
  height: 590px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.patientprofile-notes-title {
  background-color: vars.$primary-color;
  padding: 5px 0 5px 20px;
}
.patientprofile-note {
  padding: 10px 20px;
  background-color: vars.$tertiary-color;

  .patientprofile-note-date {
    font-weight: bold;
    font-size: 16px;
  }

  .patientprofile-note-info {
    font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
  }
}

.patientprofile-note-add {
  width: 600px;
  display: flex;
  flex-direction: column;

  label {
    background-color: vars.$primary-color;
    padding: 5px 0 5px 20px;
  }

  textarea {
    width: 578px;
    min-height: 100px;
    overflow-y: scroll;
    resize: none;
    padding: 5px 10px;
  }
}
#patientprofile-notes {
  overflow-y: scroll;
  min-height: 100px;
  max-height: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.patientprofile-note-content {
  white-space: pre-wrap;
  word-break: break-word;
}
