.patientlist-container {
  padding: 80px 0;
}

.patientlist-line-data {
  width: 150px;
  padding: 5px 0 5px 20px;
  border: none;
  font-size: 16px;
}

table {
  border-spacing: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f8ff;
}

th {
  padding: 20px 35px;
  border: 1px solid #7188a1;
  text-align: center;
  color: #f9f8ff;
  background-color: #2563eb;
}

.th-outer-right {
  text-align: left;
  width: 270px;
}

tr {
  transition: all 0.33s ease;
}
tr:hover {
  background-color: #f9f3cf;
  cursor: pointer;
}
tr:hover td {
  color: #2563eb;
}

td {
  color: #0e2f4e;
  padding: 20px 35px;
  text-align: center;
  border-bottom: 1px solid #7188a1;
  border-top: 1px solid #7188a1;
}

.td-inner {
  border-left: 1px solid #7188a1;
}

.td-outer-left {
  border-left: 1px solid #7188a1;
  text-align: left;
}

.td-outer-right {
  border-right: 1px solid #7188a1;
  border-left: 1px solid #7188a1;
}

.patientlist-display-infos {
  display: flex;
  justify-content: center;
}

.patientlist-infos {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background: #f9f8ff;
  color: #2563eb;
  width: 150px;
  border-radius: 8px;
  margin: 15px;
  padding: 15px 10px;
}

.patientlist-infos-number {
  font-size: 22px;
}

.patientcreation-container {
  margin: 60px;
  width: 600px;
}

.patientcreation-button {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
}

.patientcreation-lines-container {
  margin: 20px 20px;
}

.patientcreation-line {
  border: 1px solid #0e2f4e;
  padding: 5px 0;
  font-size: 20px;
  background-color: #7188a1;
}
.patientcreation-line label,
.patientcreation-line .patientcreation-line-label {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 20px;
}
.patientcreation-line input {
  width: 300px;
  padding: 10px 0 10px 20px;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  outline: none;
}
.patientcreation-line input:focus {
  background-color: lightgreen;
}
.patientcreation-line .patientcreation-line-data {
  width: 150px;
  padding: 5px 0 5px 20px;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 16px;
}
.patientcreation-line select {
  padding: 8px 0;
  width: 320px;
  padding-left: 20px;
  background-color: lightgrey;
  border: none;
  color: black;
  font-size: 16px;
}

.patientcreation-info {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: #0e2f4e;
}

.patientcreation-button {
  border: 1px solid white;
  width: 250px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  margin: 30px 0;
  background-color: darkslateblue;
  cursor: pointer;
  background-color: #2563eb;
}
.patientcreation-button:hover {
  background-color: #f9f8ff;
  color: #0e2f4e;
}

.patientprofile-container {
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.patientprofile-lines-container {
  margin: 20px 20px;
  width: 550px;
}

#patientprofile-flex-central {
  display: flex;
  flex-direction: column;
}

.patientprofile-line {
  border: 1px solid #0e2f4e;
  padding: 5px 0;
  font-size: 20px;
  background-color: #7188a1;
}
.patientprofile-line label,
.patientprofile-line .patientprofile-line-label {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #0e2f4e;
}
.patientprofile-line input {
  width: 300px;
  padding: 10px 0 10px 20px;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  outline: none;
}
.patientprofile-line input:focus {
  background-color: lightseagreen;
}
.patientprofile-line .patientprofile-line-data {
  width: 300px;
  padding: 10px 0 10px 20px;
  border: none;
  background-color: #f9f8ff;
  color: #0e2f4e;
  font-size: 16px;
}
.patientprofile-line select {
  padding: 8px 0;
  width: 320px;
  padding-left: 20px;
  background-color: lightgrey;
  border: none;
  color: black;
  font-size: 16px;
}

.patientprofile-buttons-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.patientprofile-button {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.33s ease;
  cursor: pointer;
}

.patientprofile-button-large {
  background-color: #2563eb;
}
.patientprofile-button-large:hover {
  background-color: #f9f8ff;
  color: #0e2f4e;
}

.patientprofile-button-validation {
  width: 120px;
  background-color: #2563eb;
}
.patientprofile-button-validation:hover {
  background-color: darkgreen;
}

.patientprofile-button-cancel {
  width: 120px;
  background-color: #2563eb;
}
.patientprofile-button-cancel:hover {
  background-color: darkred;
}

.patientprofile-upper-flex {
  display: flex;
}

.patientprofile-button-return {
  width: 150px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2563eb;
}
.patientprofile-button-return:hover {
  background-color: #f9f8ff;
  color: #0e2f4e;
}

.patientprofile-status-container {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  margin: 20px;
  background-color: #2563eb;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#patientprofile-status-title {
  width: 200px;
}

.patientprofile-status-flex {
  display: flex;
  align-items: center;
}

.patientprofile-status {
  margin: 0 10px;
}

.patientprofile-status-badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
}

.patientprofile-keywords-display-modal {
  position: relative;
}

.patientprofile-keywords-active {
  text-align: right;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f9f8ff;
  border-radius: 8px;
  color: #0e2f4e;
}

.patientprofile-keywords-container {
  position: absolute;
  width: 160px;
  background-color: #f9f8ff;
  top: 34px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  color: #0e2f4e;
  flex-direction: column;
}

.patientprofile-keyword {
  padding: 5px 0;
}

#patientprofile-flex-central-container {
  display: flex;
  justify-content: center;
}

.patientprofile-notes-container {
  width: 600px;
  height: 590px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.patientprofile-notes-title {
  background-color: #0e2f4e;
  padding: 5px 0 5px 20px;
}

.patientprofile-note {
  padding: 10px 20px;
  background-color: #2563eb;
}
.patientprofile-note .patientprofile-note-date {
  font-weight: bold;
  font-size: 16px;
}
.patientprofile-note .patientprofile-note-info {
  font-size: 16px;
  margin-top: 5px;
  padding-left: 10px;
}

.patientprofile-note-add {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.patientprofile-note-add label {
  background-color: #0e2f4e;
  padding: 5px 0 5px 20px;
}
.patientprofile-note-add textarea {
  width: 578px;
  min-height: 100px;
  overflow-y: scroll;
  resize: none;
  padding: 5px 10px;
}

#patientprofile-notes {
  overflow-y: scroll;
  min-height: 100px;
  max-height: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.patientprofile-note-content {
  white-space: pre-wrap;
  word-break: break-word;
}

.connexion-lines-container {
  margin: 60px auto 100px auto;
  width: 400px;
  border: 1px solid white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #7188a1;
}

.connexion-title {
  width: 100%;
  text-align: center;
  margin: 40px 0;
  color: #0e2f4e;
}

.connexion-line label,
.connexion-line .connexion-line-label {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 24px;
}
.connexion-line input {
  width: 200px;
  padding: 8px 0 8px 20px;
  border: none;
  background-color: #f9f8ff;
  color: black;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  outline: none;
}
.connexion-line input:focus {
  background-color: #f9f3cf;
}
.connexion-line .connexion-line-data {
  width: 150px;
  padding: 5px 0 5px 20px;
  border: none;
  background-color: lightgrey;
  color: black;
  font-size: 16px;
}

.connexion-button {
  width: 200px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto 0 auto;
  font-size: 20px;
  cursor: pointer;
  color: #f9f8ff;
  background-color: #2563eb;
}
.connexion-button:hover {
  background-color: #f9f8ff;
  color: #0e2f4e;
}

.connexion-error {
  text-align: center;
  margin: 10px 0;
}

.home-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-central {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.119);
  border-radius: 10px;
}

.home-central-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.home-photo-img {
  aspect-ratio: 16/11;
}

.home-central-catch {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.catch-up {
  color: #f9f8ff;
}

.catch-down {
  color: #0e2f4e;
}

.catch-title {
  color: #2563eb;
}

.home-button {
  width: 170px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
  margin: 40px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2563eb;
  text-decoration: none;
  color: inherit;
}
.home-button:hover {
  background-color: #f9f8ff;
  color: #0e2f4e;
}

.header-container {
  height: 15vh;
  background: #f9f8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0e2f4e;
  position: relative;
  font-size: 20px;
}

.header-logo {
  width: 50%;
  text-align: left;
  margin-left: 80px;
}

.header-logo-img {
  width: 70px;
  margin-right: 10px;
}

.header-logo-link {
  display: flex;
  width: 280px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 0.33s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.header-logo-link:hover {
  background: #2563eb;
  color: #f9f8ff;
}

.header-nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.header-nav-link {
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 10px;
  transition: all 0.33s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.header-nav-link:hover {
  background: #2563eb;
  color: #f9f8ff;
}

.header-user-info {
  color: black;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #2563eb;
  border-bottom: 2px solid #2563eb;
  border-left: 2px solid #2563eb;
  padding: 2px 15px;
  background-color: #f9f3cf;
  font-size: 14px;
}

.footer-container {
  background-color: #2563eb;
  font-family: helvetica;
  padding-top: 50px;
  width: 100vw;
}

.footer-section-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-title {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section-line {
  border-top: 1px solid white;
  margin-top: 40px;
}

.footer-section-logo {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer-section-link {
  cursor: pointer;
}
.footer-section-link:hover {
  color: gold;
}/*# sourceMappingURL=App.css.map */