.home-container {
width: 100%;
min-height: 90vh;
background-image: url("../../../public/medilabo.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.home-img {


}
