.connexion-lines-container {
  margin: 80px auto;
  width: 50vw;
  
}

.connexion-line {
  border: 1px solid white;
  padding: 5px 0;

  label,
  .connexion-line-label {
    margin: 10px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  input {
    width: 150px;
    padding: 8px 0 8px 20px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    outline: none;
    &:focus {
      background-color: lightseagreen;
    }
  }

  .connexion-line-data {
    width: 150px;
    padding: 5px 0 5px 20px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-size: 16px;
  }

  select {
    padding: 8px 0;
    width: 170px;
    padding-left: 20px;
    background-color: lightgrey;
    border: none;
    color: black;
    font-size: 16px;
  }
}

.connexion-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.connexion-button {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto;
  font-size: 20px;
  width: 200px;
}
