@use "../../styles/variables" as vars;

.connexion-lines-container {
  margin: 60px auto 100px auto;
  width: 400px;
  border: 1px solid white;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.connexion-title {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}
.connexion-line {
  label,
  .connexion-line-label {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 24px;
  }

  input {
    width: 200px;
    padding: 8px 0 8px 20px;
    border: none;
    background-color: vars.$background2-color;
    color: black;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    outline: none;
    &:focus {
      background-color: vars.$background1-color;
    }
  }

  .connexion-line-data {
    width: 150px;
    padding: 5px 0 5px 20px;
    border: none;
    background-color: lightgrey;
    color: black;
    font-size: 16px;
  }
}

.connexion-button {
  width: 200px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto 0 auto;
  font-size: 20px;
  cursor: pointer;
  color: vars.$quaternary-color;
  background-color: vars.$tertiary-color;
  &:hover {
    background-color: vars.$background2-color;
    color: vars.$primary-color;
  }
}
.connexion-error {
  text-align: center;
  margin:10px 0;
}
