:root {
  color: #f9f8ff;
  background-image: url("../../../public/bg_medical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}
