:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #7188a1;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}
