@use "../../styles/variables" as vars;

.footer-container {
  width: 100vw;
  height: 30vh;
  background-color: vars.$tertiary-color;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  font-size: 30px;
  margin-top: 50px;
}

.footer-upperline {
  width: 80vw;
  border: 1px solid whitesmoke;
  margin-top: 30px;
}
