@use "../../styles/variables" as vars;

.footer-container {
  background-color: #2563eb;
  font-family: helvetica;
  padding-top: 50px;
  width: 100vw;
}

.footer-section-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-title {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section-line {
  border-top: 1px solid white;
  margin-top: 40px;
}

.footer-section-logo {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer-section-link {
  cursor: pointer;
  &:hover {
    color: gold;
  }
}
